<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Kausar Meutuwah - Lab PBP</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSide"
                aria-controls="navbarSide" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSide">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="ml-auto nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% if request.user.is_anonymous %}
                        Anonymous
                        {% else %}
                        {{ request.user }}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sm-end">
                        {% if request.user.is_anonymous %}
                        <li><a class="dropdown-item" href="{% url 'wishlist:login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'wishlist:register' %}">Register</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'wishlist:logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>